.page-info{
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100vw;
    background-repeat: no-repeat;
}
.page-name{
color: #fff;
}