@font-face {
  font-family: 'flaticon';
  src: url("../src/Components/Assets/Font/Flaticon.ttf");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}
body{
  overflow-x: hidden;
}
.flex-box{
  display: flex;
  align-items: center;
}


@media (max-width:600px){
  body{
    overflow-x: hidden;
  }
}